# This is Git's per-user configuration file.
[user]
	name = Jacob Mischka
	email = jacob@mischka.me
[core]
	editor = nvim
	pager = delta
[pull]
	rebase = false
[push]
	default = simple
[commit]
	gpgsign = true
[merge]
	conflictStyle = "zdiff3"
[diff]
	compactionHeuristic = true
	colorMoved = default
[interactive]
	diffFilter = delta --color-only

[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	gh = "!f(){ git clone "git@github.com:$1.git"; }; f"
	git = !exec git
	conflicted = !nvim +Conflicted
	rev = rev-parse HEAD
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~1
	recommit = commit --amend --no-edit
	a = add
	s = status
	r = rebase
	c = commit
	rc = recommit
	d = diff
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[delta]
	navigate = true
	features = decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[delta "side-by-side"]
	side-by-side = true
