# This is Git's per-user configuration file.
[user]
	name = Jacob Mischka
	email = jacobmischka@gmail.com
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4
[push]
	default = simple
[commit]
	gpgsign = true
[diff]
	compactionHeuristic = true

[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	gh = "!f(){ git clone "git@github.com:$1.git"; }; f"
